body {
	background-color: lightyellow;
	color: black;
	font-family: monospace;
}
.imgs {
	height: auto;
	width: 250px;
}
.planets {
	font-size: 16px;
}
td {
	text-align: center;
	table-layout: fixed;
}